{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>OpenMRS Data Entry app</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>OpenMRS Data Entry app</h1>   
{{ end }}
